 </div>
 <div class="hero">
     <!--    <img src="http://40.media.tumblr.com/f2916759544c106d91c28a9e0fd2cb94/tumblr_n7qhrzxUiv1sfie3io1_1280.jpg" /> -->
    <p>Take control of playlist creation utilizing your listening history, choose the genre and add new unheard music that’s in-line with your tastes.</p>
 </div>


<a href="/auth/spotify" class="btn btn-primary">
  Login via Spotify
</a>