 </div>

 <div class="hero">
   <h1 class="heroTitle">Spotify BestOf Playlist Generator</h1>
   <p>Create Top Ten Playlists of your favorite artist's most popular songs on Spotify </p>
 </div>


 <a href="/auth/spotify" class="btn btn-primary">
  Login via Spotify
</a>