body {
	margin: 0 auto;
	text-align: center;
	background-color: #272322;
	color: white;
	font-family: "futura-pt", Helvetica, sans-serif, !important;
	font-weight: 500;
	text-transform: uppercase;
}

#login, #loggedin {
	display: none;
    }

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    }

h1 {
	font-family: "futura-pt", Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-family: "futura-pt", Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
}

p {
	font-family: "franklin-gothic-urw", Helvetica, sans-serif;
	text-transform: none;
}

input {
	margin-bottom: 20px;
}


.hero {
	height: 350px;
	margin-bottom: 50px;
  margin-top: -19px;
  background: 
    /* top, transparent red */ 
    linear-gradient(to left top, 
      rgba(0,183,199, 0.8), 
      rgba(77,12,232, 0.8)
    ),
    /* bottom, image */
    url('/img/image.jpg') no-repeat center 50%;
    background-size: cover;
}

.hero p {
	font-size: 20px;
	width: 800px;
	margin: 0 auto;
}

.heroTitle {
  padding-top: 100px;
  letter-spacing: 1.2px;
}

.btn {
	font-family: "futura-pt", Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 16px;
	letter-spacing: 1.2px;
}

ul {
  text-decoration: none;
  list-style-type: none;
  border-bottom: 1px solid white;
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 5px;
}

.searchbutton {
  color: #FFF;
}

.searchbutton:hover {
  color: #FFF;
}